{% extends 'locations/layout.html' %}
{% block content %}
<div>
    <div class="col-sm-5">
        <h1>What is all about?</h1>
        <ul>
            <li>There is no easy and fast method to support local communities or report issues</li>
            <li>Everybody should be able to tell what can be done in local area </li>
            <li>Most things can be solved with little amount of money </li>
        </ul>
        <h1>What can you do?</h1>
        <ul>
            <li>Create quests. Quests are missions such us:</li>
            <ul>
                <li>repair demolished bus stop.</li>
                <li>fund arduino for kids at school</li>
            </ul>
            <li>Create and browse events in your places</li>
            <li>Become a local hero!</li>
        </ul>
    </div>

    <div class="col-sm-7">
        <img class='img img-rounded' src="http://cdn.morguefile.com/imageData/public/files/a/alvimann/preview/fldr_2011_02_22/file2161298396020.jpg">
    </div>
</div>
{% endblock %}
