{% extends 'locations/layout.html' %}
{% block content %}
    <title>OpenLayers Demo</title>
    <style type="text/css">
    </style>
    <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<div class="jumbotron">
    <div class="container">
        <h1>Help your community!</h1>
        <p><a class="btn btn-primary btn-lg" role="button" id="id-learn-more" href="{% url 'about' %}">Learn more »</a></p>
    </div>
</div>
<div>
    <div class='col-sm-8' id="basicMap"></div>
    <div class="col-sm-4">

    <h1>Choose your adventure!</h1>
    <ul>
        <li><a href="/event/add">Create</a> / <a href="/event/">browse</a> events</li>
        <li><a href="/quest/add">Create</a> / <a href="/quest/">browse</a> quests</li>
        <li><a href="/donate/">Donate</a> quests, events or people!</li>
        <li><a>Mark</a> your places of interest</li>
    </ul>
    </div>
</div>
<script>
    var nav = null;
    var map = new OpenLayers.Map("basicMap");

    $(function requestPosition() {
        if (nav == null) {
            nav = window.navigator;
        }

        var geoloc = nav.geolocation;
        if (geoloc != null) {
            geoloc.getCurrentPosition(successCallback, errorCallback);
        }

    });

    function successCallback(position) {
        init(position.coords.latitude, position.coords.longitude)
        $.ajax({
            url: '/api/events/',
            successful: function (data) {
                console.log(data);
                data.each(function(i, elem) {

                    var markers = new OpenLayers.Layer.Markers( "Markers" );
                    map.addLayer(markers);
                    markers.addMarker(new OpenLayers.Marker(position));
                });
            }
        })
    }

    function errorCallback(position) {

    }

    function init(latitude, longitude) {
        var mapnik         = new OpenLayers.Layer.OSM();
        var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
        var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
        var position       = new OpenLayers.LonLat(longitude, latitude).transform( fromProjection, toProjection);
        var zoom           = 15;

        map.addLayer(mapnik);
        map.setCenter(position, zoom );
        var markers = new OpenLayers.Layer.Markers( "Markers" );
        map.addLayer(markers);
        markers.addMarker(new OpenLayers.Marker(position));

        map.setCenter(position, zoom);
    }

</script>
{% endblock %}

