{% extends 'locations/layout.html' %}
{% block content %}
    <title>OpenLayers Demo</title>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<div class="jumbotron">
    <div class="container">
        <h1>Help your community!</h1>
        <p><a class="btn btn-primary btn-lg" role="button" id="id-learn-more" href="{% url 'about' %}">Learn more »</a></p>
    </div>
</div>
<div>
    <div class='col-sm-8' id="basicMap"></div>
    <div class="col-sm-4">

    <h1>Choose your adventure!</h1>
    <ul>
        <li><a href="/event/add">Create</a> / <a href="/event/">browse</a> events</li>
        <li><a href="/quest/add">Create</a> / <a href="/quest/">browse</a> quests</li>
        <li><a href="/donate/">Donate</a> quests, events or people!</li>
        <li><a>Mark</a> your places of interest</li>
    </ul>
    </div>
</div>
<script>
    var nav = null;
    var map = new OpenLayers.Map("basicMap");
    var markers = new OpenLayers.Layer.Markers( "Markers" );

    $(function requestPosition() {
        if (nav == null) {
            nav = window.navigator;
        }

        var geoloc = nav.geolocation;
        if (geoloc != null) {
            geoloc.getCurrentPosition(successCallback, errorCallback);
        }

    });

    function getLongLat(str) {
        var parsing = new OpenLayers.Format.WKT();
        var coords = OpenLayers.String.trim(str).split(parsing.regExes.spaces);
        return {
            long: coords[1].slice(1, -1),
            lat: coords[2].slice(0, -1)
        };
    }

    function convertCoords(str) {
        var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
        var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
        var longLat = getLongLat(str);
        return new OpenLayers.LonLat(longLat.long, longLat.lat).transform( fromProjection, toProjection);
    }

    function successCallback(position) {
        init(position.coords.latitude, position.coords.longitude);
        $.ajax({
            url: '/api/events/',
            success: function (data) {
                $(data).each(function(i, elem) {
                    var position = convertCoords(elem.point);
                    var parsing = new OpenLayers.Format.WKT();
                    var coords = OpenLayers.String.trim(elem.point).split(parsing.regExes.spaces);
                    var longLat = {
                        long: coords[1].slice(1, -1),
                        lat: coords[2].slice(0, -1)
                    };

                    markers.addMarker(new OpenLayers.Marker(position));
                    map.addLayer(markers);
                    var myLocation = new OpenLayers.Geometry.Point(longLat.long, longLat.lat)
                            .transform('EPSG:4326', 'EPSG:3857');


                    console.log(elem);
                    // A popup with some information about our location
                    var popup = new OpenLayers.Popup.FramedCloud("Popup",
                        myLocation.getBounds().getCenterLonLat(), null,
                        "<h1><a href='/event/" + elem.id + "'> "  + elem.title + "</a></h1><p>" + elem.description + "</p>", null,
                        false // <-- true if we want a close (X) button, false otherwise
                    );

                    map.addPopup(popup);
                });
            }
        });
        $.ajax({
            url: '/api/quests/',
            success: function (data) {
                $(data).each(function(i, elem) {
                    var position = convertCoords(elem.point);
                    var parsing = new OpenLayers.Format.WKT();
                    var coords = OpenLayers.String.trim(elem.point).split(parsing.regExes.spaces);
                    var longLat = {
                        long: coords[1].slice(1, -1),
                        lat: coords[2].slice(0, -1)
                    };
                    var marker = new OpenLayers.Marker(position);

                    marker.setOpacity(0.6);
                    markers.addMarker(marker);
                    map.addLayer(markers);
                    var myLocation = new OpenLayers.Geometry.Point(longLat.long, longLat.lat)
                            .transform('EPSG:4326', 'EPSG:3857');

                    // A popup with some information about our location
                    var popup = new OpenLayers.Popup.FramedCloud("Popup",
                            myLocation.getBounds().getCenterLonLat(), null,
                                    "<h1><a href='/quest/" + elem.id + "'> "  + elem.title + "</a></h1><p>" + elem.description + "</p>", null,
                            false // <-- true if we want a close (X) button, false otherwise
                    );

                    map.addPopup(popup);
                });
            }
        });
    }

    function errorCallback(position) {

    }

    function init(latitude, longitude) {
        var mapnik         = new OpenLayers.Layer.OSM();
        var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
        var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
        var position       = new OpenLayers.LonLat(longitude, latitude).transform( fromProjection, toProjection);
        var zoom           = 7;

        map.addLayer(mapnik);
        map.setCenter(position, zoom );
        var markers = new OpenLayers.Layer.Markers( "Markers" );
        map.addLayer(markers);
        markers.addMarker(new OpenLayers.Marker(position));

        var myLocation = new OpenLayers.Geometry.Point(longitude, latitude)
                .transform('EPSG:4326', 'EPSG:3857');

        var popup = new OpenLayers.Popup.FramedCloud("Popup",
                myLocation.getBounds().getCenterLonLat(), null,
                "<p>You're there</p>", null,
                false // <-- true if we want a close (X) button, false otherwise
        );

        map.setCenter(position, zoom);
        map.addPopup(popup);
    }

</script>
{% endblock %}

