<html>
    <head>
        <title>{%block title %} Help your community {% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/static/custom/main.css" rel="stylesheet" media="screen">

        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <script type="text/javascript"
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5todS3AsLd1r3gyTm9BMN34DLSOGITJw">
        </script>

    </head>
    <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">Tubylcy</a>
            </div>
            <div class="navbar-collapse collapse text-right well-small">
                {% if request.user.is_authenticated %}
                <a class="btn btn-lg btn-danger" href="/profile/{{request.user.username}}">
                    {% if request.user.first_name or request.user.last_name %}
                    {{ request.user.first_name }} {{ request.user.last_name }}
                    {% else %}
                    {{ request.user.username }}
                    {% endif %}
                    {% if request.user.profile.account_verified %} (verified) {% else %} (unverified) {% endif %}
                    profile
                </a>
                <a href="/accounts/logout/" class="text-right btn btn-lg btn-success">Logout</a>
                {% else %}
                <a href="/accounts/login/" class="text-right btn btn-lg btn-success">Login</a>
                {% endif %}
            </div><!--/.navbar-collapse -->
        </div>
    </div>


    <div class="container content">

        {% block content %}

        {% endblock %}
    </div>

    <div class="container">

        <footer>
            <p>© Tubylcy 2014</p>
        </footer>
    </div> <!-- /container -->
    <span id="buffer-extension-hover-button" style="display: none;position: absolute;z-index: 8675309;width: 100px;height: 25px;background-image: url(chrome-extension://noojglkidnpfjbincgijbaiedldjfbhh/data/shared/img/buffer-hover-icon@1x.png);background-size: 100px 25px;opacity: 0.9;cursor: pointer;"></span></body></html>
    </body>
</html>