{% extends 'locations/layout.html' %}
{% block content %}
<h1>Quests <a class="btn btn-success" href="{% url 'add_quest' %}">[Create]</a> <a class="btn btn-success" href="{% url 'list_quest' %}">[Browse all]</a></h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>Title</th>
        <th>Description</th>
        <th>Reporter</th>
        <th>Created</th>
        <th>Finished</th>
        <th>Assignees</th>
        <th>Bounty</th>
    </tr>
    </thead>
    {% for quest in quests %}
    <tr>
        <td>
            <a href="/quests/{{ quest.pk }}">{{ quest.pk }}</a>
        </td>
        <td>
            {{ quest.title }}
        </td>
        <td>
            {{ quest.description }}
        </td>
        <td>
            {{ quest.reporter.username }}
        </td>
        <td>
            {{ quest.created }}
        </td>
        <td>
            {{ quest.finished }}
        </td>
        <td>
            {% for assignee in quest.assignees.all %}
            {{ assignee }}
            {% endfor %}
        </td>
        <td>
            {{ quest.bounty }}
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_donations">
            <input type="hidden" name="business" value="random8902@gmail.com">
            <input type="hidden" name="lc" value="US">
            <input type="hidden" name="item_name" value="Quest {{ quest.pk}}">
            <input type="hidden" name="no_note" value="0">
            <input type="hidden" name="currency_code" value="PLN">
            <input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
        </td>
    </tr>

    {% endfor %}
</table>
{% if not quests %}
No quests so far...
{% endif %}
{% endblock %}
